:host {
  display: block;
  min-height: 100vh;
  padding: 30px;

  background: linear-gradient(
    135deg,
    #f7f7f5,
    #faf8ef,
    #f4e7b5
  );
}

/* Header */

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 25px;
}

.page-header h2 {
  margin: 0;
  color: #222;
}

.page-header p {
  color: #777;
  margin-top: 5px;
}

/* Add Employee */

.add-btn {
  background: linear-gradient(
    135deg,
    #d6a400,
    #f4cb42
  );

  color: #222;

  padding: 12px 20px;

  border-radius: 12px;

  text-decoration: none;

  font-weight: 600;

  transition: .3s;
}

.add-btn:hover {
  transform: translateY(-2px);
}

/* Card */

.table-card {
  background: rgba(255,255,255,.75);

  backdrop-filter: blur(20px);

  border-radius: 24px;

  padding: 24px;

  box-shadow:
    0 10px 30px rgba(0,0,0,.05);
}

/* Search */

.toolbar {
  margin-bottom: 20px;
}

.toolbar input {
  width: 320px;

  padding: 12px 16px;

  border: 1px solid #ddd;

  border-radius: 12px;

  outline: none;
}

/* Table */

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  text-align: left;

  padding: 16px;

  color: #666;

  border-bottom: 1px solid #eee;
}

td {
  padding: 16px;

  border-bottom: 1px solid #f0f0f0;
}

tr:hover {
  background: rgba(214,164,0,.05);
}

/* Employee */

.employee-info {
  display: flex;
  align-items: center;
  gap: 12px;
}

.avatar {
  width: 42px;
  height: 42px;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 700;

  background: linear-gradient(
    135deg,
    #d6a400,
    #f4cb42
  );

  color: #222;
}

.employee-info p {
  margin: 0;
  color: #777;
  font-size: 12px;
}

/* Badge */

.badge {
  background: #fff4cf;

  color: #a16f00;

  padding: 6px 12px;

  border-radius: 999px;

  font-size: 12px;
}

/* Buttons */
.edit-btn {
  background: #d6a400;

  color: #222;

  border: none;

  padding: 8px 14px;

  border-radius: 10px;

  cursor: pointer;

  margin-right: 8px;

  font-weight: 600;

  transition: .3s;
}

.edit-btn:hover {
  background: #c59600;
}

.delete-btn {
  background: #2f2f2f;

  color: white;

  border: none;

  padding: 8px 14px;

  border-radius: 10px;

  cursor: pointer;

  font-weight: 600;

  transition: .3s;
}

.delete-btn:hover {
  background: #1f1f1f;
}